{% extends 'wrapper.html' %}
{% load  staticfiles %}
{% block customcss %}
    <style>
    /*.dataTables_wrapper .datatable-header {
            display: none;
        }*/

    table.dataTable thead tr th {
    word-wrap: break-word;
    word-break: break-all;
    }

    table.dataTable tbody tr td {
        word-wrap: break-word;
        word-break: break-all;
    }


  #tabla_detalle td, #tabla_detalle th{
            white-space: normal;
        }

    </style>
{% endblock %}

{% block modals-view %}

    <div id="modal_detalle_factura" class="modal fade in">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h6 class="modal-title text-center">
                        <div class="titulo_modal">Detalle de Facturas</div>

                    </h6>
                </div>

                <div class="modal-body" >
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-lg-1"> F.de Emision </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"   id="cffecdoc" disabled>
                            </div>
                            <label class="control-label col-lg-1"> Doc </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"   id="cfnumdoc" disabled>
                            </div>

                            <label class="control-label col-lg-1"> Estado </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control"  id="estado_comprobante" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                          <div class="form-group">
                            <label class="control-label col-lg-1"> Cliente </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control "  id="cfcodcli" disabled>
                            </div>

                            <label class="control-label col-lg-1"> RUC </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control "  id="nro_doc_receptor" disabled>
                            </div>

                            <label class="control-label col-lg-1"> CDFI </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" disabled>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label col-lg-1"> Razon Social </label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control "   id="cfnombre" disabled>
                            </div>

                            <label class="control-label col-lg-1"> Moneda </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control "  id="moneda" disabled>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">

                            <label class="control-label col-lg-1"> Estado Correo </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control "  id="estado_correo" disabled>
                            </div>

                        </div>
                     </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <table class="table datatable-basic" id="tabla_detalle" style="width:880px;" >
                            <thead class="bg-purple ">
                                <th width="100">ORDEN</th>
                                <th width="100">CANT.</th>
                                <th width="100">UND.</th>
                                <th width="150">CODIGO</th>
                                <th width="400">DESCRIPCION</th>
                                <th width="100"> P.UNIT.</th>
                                <th width="100">SUBTOTAL</th>
                            </thead>
                            <tbody></tbody>
                          </table>
                        </div>


                    </div>


                    <div class="row">
                          <div class="form-group">
                            <label class="control-label col-lg-2"> Op.Exoneradas </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="tvv_cod_ope_exoneradas" disabled>
                            </div>

                            <label class="control-label col-lg-2"> Total </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="total" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                          <div class="form-group">
                            <label class="control-label col-lg-2"> Op.Inafectas </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="tvv_imp_ope_inafectas" disabled>
                            </div>

                            <label class="control-label col-lg-2"> IGV </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="sumatoria_igv" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                          <div class="form-group">
                            <label class="control-label col-lg-2"> Op.Gravadas </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="tvv_imp_ope_gravadas" disabled>
                            </div>

                            <label class="control-label col-lg-2"> ISC </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="sumatoria_isc" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-lg-6">

                            </div>

                            <label class="control-label col-lg-2"> Total P. Venta </label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control "  id="importe_total_venta" disabled>
                            </div>
                        </div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary"  id="enviar_correo"><li class="fa fa-glyphicon-envelope"> ENVIAR CORREO</li> </button>
                    <button type="button" class="btn btn-primary"  id="descargar_pdf"><li class="fa fa-file-pdf-o"> DESCARGAR PDF</li> </button>
                    <button type="button" class="btn bg-info"  id="descargar_xml"><li class="fa fa-file-text"> DESCARGAR XML</li> </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR<li class="icon-close2"> </li> </button>
                </div>

            </div>
         </div>
     </div>



    <!--
    <div id="modal_detalle_factura" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">

                    <h6 class="modal-title text-center">
                        Detalle
                    </h6>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <table class="table datatable-basic" id="tabla_detalle" style='width:100%'>
                                <thead class="bg-indigo-700">
                                <tr>

                                </tr>

                                </thead>

                            </table>

                        </div>

                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-success">DESCARGAR PDF</button>
                    <button type="button" class="btn btn-primary">DESCARGAR XML</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                </div>

            </div>

        </div>

    </div>-->
{% endblock %}
{% block actions-table-view %}
        <div class="form-group col-xs-12 col-sm-12 col-md-12">
            <table >
                <tr>
                    <td width="200px">
                        <label>Hasta la Fecha:</label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" class="form-control " id="fecha" valor="">
                        </div>
                    </td>
                    <td>
                        <label>Serie:</label>
                        <input type="text" class="form-control "  id="serie" placeholder="SERIE">
                    </td>
                    <td width="200px">
                        <label>Num doc:</label>
                        <input type="text" class="form-control "  id="numdoc" placeholder="NUM DOCUMENTO">
                    </td>
                    <td width="450px">
                        <label>Cliente:</label>
                        <input type="text" class="form-control "  id="razonsocial" placeholder="RAZON SOCIAL O NOMBRE">
                    </td>
                    <td>
                        <label>Estado:</label>
                        <select class="form-control "  id="estado" >
                            <option value="">TODOS</option>
                            <option value="POR ENVIAR">POR ENVIAR</option>
                            <option value="APROBADO">APROBADO</option>

                        </select>

                    </td>
                </tr>
            </table>



        </div>
{% endblock %}

{% block table-view %}
<div class="panel-body" id="table-view">
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
              <table class="table datatable-basic" id="tabla_facturas">
                <thead class="bg-primary">
                  <tr>
                      <th width="100px">FECHA EMISION</th>
                      <th>NRO SERIE</th>
                      <th>NRO FACTURA</th>
                      <th width="300px">CLIENTE</th>
                      <th>ESTADO</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>

          </div>


       </div>
   </div>
{% endblock %}


{% block requirejs %}
    <script type="text/javascript">
        var App = {
            filerequired: {
                service: ['ajax', 'comprobante'],
                utils: ['facturas']
            }
        };
    </script>
{% endblock %}

{% block customjs %}
<script type="text/javascript">


    var cliente='';
    var fecha='';
    $(document).ready(function (e) {

         var tablaFacturas =$('#tabla_facturas');
         var tablaDetalle =$('#tabla_detalle');
         var modal=$('#modal_detalle_factura');

        $('#fecha').daterangepicker({
            singleDatePicker: true,
            startDate: moment(),
            locale:App.locale,

        },

            function(start, end) {
            $('#fecha').attr( 'valor',start.format('YYYY-MM-DD'));

            }

        );

        $('#tabla_facturas tbody').on('click','tr',function (e) {
            $("#tabla_facturas tbody > tr").removeClass("bg-success");
            $(this).addClass("bg-success");

        });

        $('#tabla_facturas tbody').on('dblclick','tr',function (e) {

            $utils.facturas.crearDetalleComprobante($(this),tablaDetalle,modal);
            //modal.modal('show');
        });
        
        $('#descargar_pdf').on('click',function () {

            $utils.facturas.descargarPdf();
        });

        $('#descargar_xml').on('click',function () {
            $utils.facturas.descargarXml();
        });

        modal.draggable({
            handle: ".modal-header"
        });

        $('#serie').change(function () {
            $utils.facturas.crearTablaComprobantes(tablaFacturas);
        });
        $('#numdoc').change(function () {
            $utils.facturas.crearTablaComprobantes(tablaFacturas);
        });
        $('#razonsocial').change(function () {
            $utils.facturas.crearTablaComprobantes(tablaFacturas);
        });

        $('#fecha').change(function(){
            $utils.facturas.crearTablaComprobantes(tablaFacturas);
        });


        $('#estado').change(function(){
            $utils.facturas.crearTablaComprobantes(tablaFacturas);
        });

        $utils.facturas.crearTablaComprobantes(tablaFacturas);


    });
</script>
{% endblock %}